body {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  background-color: #2a9d8f;
  margin: 0;
}

#header {
  margin: 0;
  padding: 60px;
  background-color: #14213d;
  text-align: center;
  font-size: 25px;
  color: #fca311;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-attachment: local;
  background-position-x: 30px;
  background-position-y: 30px;
}

form {
  margin-left: 400px;
  padding: 3rem;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

div {
  margin-bottom: 10px;
}

.form-control {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #e9c46a;
  font-size: 20px;
  border-radius: 1rem;
}

#poatitle {
  width: 341px;
}

input[type="radio"] {
  transform: scale(2);
}

#l_male,
#l_female {
  margin-left: 10px;
}

#submit {
  margin-top: 2rem;
  padding: 10px 30px;
  font-size: 25px;
  border-radius: 1rem;
  background-color: #f4a261;
}

#submit:hover {
  background-color: #264653;
  color: #fb8500;
}

fieldset {
  width: 600px;
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-color: #2a9d8f;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

details {
  user-select: none;
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

details > summary:first-of-type {
  font-size: 23px;
  width: 500px;
  margin-bottom: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  counter-increment: list-item 0;
  list-style: inside disclosure-closed;
}
